/* VARIABLES */
:root {
    --cMerlin: #44423E;
    --cGrayNickel: #BBBAB6;
    --cMantle: #9CA49B;
    --cSantasGray: #9C9CA4;
    --cTexto: #D1B660;
    --cBlanco: #ffff;
    --cNegro: #000000;
    --cGrisClaro: #f2f2f2;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 1350px;
    margin: 0 auto;
}

header figure {
    margin-right: 30px;
}

header figure img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}


/* NAV */

nav{
    background-color: rgb(226, 231, 231);
}

nav ul{ 
    margin: 0 auto; 
    list-style-type: none;
    
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    width: 170px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
	padding: 25px 0;
    font-family:'Chakra Petch', sans-serif;

}

nav ul li a:hover{
    background-color: var(--cTexto);
}

/* SECTION PRINCIPAL */

#principal{
    background-image: url(img/patron.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}

#principal div {
    text-align: center;
    color: var(--cBlanco);
    padding-bottom: 80px;
}

#principal div input, #principal div a{
    display: block;
    margin: 20px auto;
}

#principal div h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 84px;
    color: #fff;
}

#principal div p {
    font-size: 30px;
    font-family:'Chakra Petch', sans-serif;
}

#principal div #email{
    width: 300px;
    height: 20px;
    border-radius: 40px;
    
}
input {
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
}
#principal div a{
    font-size: 25px;
    font-family:'Chakra Petch', sans-serif;
    padding: 10px;
    width: 220px;
    text-decoration: none;
    color: var(--cTexto);
    background-color: var(--cMerlin);
    border-radius: 20px;
}

#principal div a:hover {
    background-color: var(--cTexto);
    color: var(--cBlanco);
}

#principal figure img {
    width: 100%;
}

/* SECTION PRODUCTOS */

#productos{
    width: 1350px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,450px);
    grid-template-rows: repeat(4,auto);
    justify-content: center;
    margin: 0 auto;
}

#productos h2, #productos p{
    width: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
#productos h2{
    font-size: 50px;
    margin-top: 40px;
    grid-column: 1/span 3;
    grid-row: 1/ span 1;
}
#productos p {
    font-size: 25px;
    margin-bottom: 25px;
    grid-column: 1/span 3;
    grid-row: 2/ span 1;
}

#productos article .descripcion {
    width: 400px;
}
#productos article{
    padding-left: 20px;
    color:var(--cBlanco);
    margin-left: 5px; 
}

#producto2 {
    transform-origin: center center; 
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
}
  
#producto2:hover { 
    transform:rotate(90deg);
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


#producto2:hover h3,
#producto2:hover .precio,
#producto2:hover .descripcion {
    display: none; /* Oculta el texto al pasar el mouse sobre #producto2 */
}
  
#producto2:hover figure {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-40%, -50%); 
}
#producto2:hover img {
    transform:scale(1.4);
}


#productos article .precio{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

#productos article:nth-of-type(1){
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

#productos article:nth-of-type(2){
    grid-column: 2/span 1;
    grid-row: 3/span 1;
}
#productos article:nth-of-type(3){
    grid-column: 3/span 1;
    grid-row: 3/span 1;
}


#productos #producto1 figure,
#productos #producto2 figure,
#productos #producto3 figure{
    width: 400px;
    height: 700px;
}

#productos article:nth-of-type(1) figure img,
#productos article:nth-of-type(2) figure img,
#productos article:nth-of-type(3) figure img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

#producto1{
    background-color: var(--cMerlin);
}
#producto2{
    background-color:  var(--cTexto);
}
#producto3{
    background-color: var(--cMerlin);
}

#productos article h3{
    font-size: 30px;
    margin-bottom: 8px;
}

#productos article h3, #productos article p {
    text-align: left;
    font-family: 'Chakra Petch', sans-serif;
}

#productos article .descripcion {
    font-size: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
}

#productos a{
    font-family: 'Chakra Petch', sans-serif;
    
    grid-column: 1/span 3;
    grid-row: 4/span 1;

    width: 220px;
    text-align: center;
    text-decoration: none;
    color: var(--cTexto);
    border-radius: 20px;
    border: 1px solid var(--cGrayNickel);
    background-color: var(--cMerlin);
    padding: 15px; 
    margin: 25px auto;
    font-size: 20px;
}


#productos a:hover{
    background-color: var(--cTexto);
    color: var(--cBlanco);
}

/* NOTICIAS */
#noticias {

    background-color: rgb(230, 235, 236);
    padding-top: 20px;
    margin-top: 50px;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(2,675px);
    grid-template-rows: repeat(4,auto);

    grid-gap: 5px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
#noticiaPrincipal, #not1, #not2 {
    background-color: var(--cGrisClaro);
}

#noticias h2, #noticias .textoDebajoTitulo {
    width: 100%;
    text-align: center;
}

#noticias h2 {
    font-size: 50px;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
}

#noticias p {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

#noticias .textoDebajoTitulo {
    margin-bottom: 30px;
    font-size: 25px;
}

#noticiaPrincipal{  
    grid-column: 1/span 2;
    grid-row: 3/span 2;
    width: 630px;
}

#noticiaPrincipal h3, #noticiaPrincipal p{
    margin-bottom: 15px;
}

#noticiaPrincipal a{
    font-size: 15px;
    font-weight: bold;
}

#noticiaPrincipal figure img {
    width: 100%;
    height: 100%;
}

#noticiaPrincipal {
    padding: 10px 20px 15px 20px;
}

#not1{
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    padding-left: 15px;
}

#not1 figure, #not2 figure {
    width: 300px;
}

#not1 figure img, #not2 figure img  {
    width: 100%;
    height: 100%;
}

#not1 h3{
    padding-bottom: 10px;
}

#not1 p{
    padding-bottom: 15px;
}

#not1 p span {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: var(--cGrayNickel);
    border-radius: 10px;
} 

#not2{
    grid-column: 2/span 1;
    grid-row: 4/span 1;
    padding-left: 15px;
}

#not2 h3{
    padding-bottom: 10px;
}

#not2 p{
    padding-bottom: 15px;
}

#not2 span {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: var(--cGrayNickel);
    border-radius: 10px;
} 


/* SECTION GALERIA */

#galeria {
    background-color: #D1B660;
    padding: 30px 0;

    display: grid;
    grid-template-columns: repeat(5,270px);
    grid-template-rows: repeat(2,auto) repeat(4,250px);
    margin: 0 auto;
    justify-content: center;
}

#galeria h2 {
    text-align: center;
    font-size: 45px;
    grid-column: 1/span 5;
    grid-row: 1/span 1;
}

#galeria p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;

    grid-column: 1/span 5;
    grid-row: 2/span 1;
}

#galeria figure{
    width: 100%;
    transition: transform 0.3s; 
}

#galeria figure:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10%*/
}

#galeria figure img{
    width: 100%;
    height: 100%;
    object-fit: conver;
}

#galeria figure:nth-of-type(1){
    grid-column: 1/span 2;
    grid-row: 3/span 2;
}

#galeria figure:nth-of-type(2){
    grid-column: 1/span 3;
    grid-row: 5/span 2;
}

#galeria figure:nth-of-type(3){
    grid-column: 3/span 2;
    grid-row: 3/span 1;

}

#galeria figure:nth-of-type(4){
    grid-column: 3/span 1;
    grid-row: 4/span 1;

}

#galeria figure:nth-of-type(5){
    grid-column: 4/span 1;
    grid-row: 4/span 3;

}

#galeria figure:nth-of-type(6){
    grid-column: 5/span 1;
    grid-row: 3/span 4;

}

/* SECTION CONTACTO */

#contacto {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 600px 750px;
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    margin-bottom: 60px;
}

#contacto h2 {
    text-align: center;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    font-size: 40px;
}

#contacto p {
    text-align: center;
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    padding-bottom: 25px;
    font-size: 25px;
}

#contacto form {
    grid-column: 1/span 1;
    grid-row: 3/span 1;

    /*GRILLA DENTRO DEL FORM*/
    display: grid;
    grid-template-columns: repeat(2,fr);
    grid-template-rows: repeat(4,auto);
    column-gap: 40px;
    justify-content: end;
}

#contacto input,
#contacto select,
#contacto textarea{
    border-radius: 10px;
    border: solid 1px var(--cMerlin);
}

#contacto select{
    padding: 10px;
}

#contacto form select{
    width: 277px;
    font-size: 15px;
}

#contacto input:focus,
#contacto select:focus,
#contacto textarea:focus{
    background-color: var(--cGrisClaro); 
    color: var(--cNegro); 
}

#comentario {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

#contacto form div:nth-of-type(1){
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

#contacto form div:nth-of-type(2) {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}
#contacto form div:nth-of-type(3){
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}
#contacto form div:nth-of-type(4){
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

#contacto form div:nth-of-type(5) {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
}

#enviar {
    grid-column: 1/span 2;
    grid-row: 4/span 1;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    border: solid 1px var(--cMerlin);
    color: var(--cNegro);
    padding: 5px;
    text-decoration: none;
}

#contacto table {
    grid-column: 2/span 2;
    grid-row: 3/span 1;
    border-collapse: collapse;
    margin-left: 40px;
}
 
#contacto table td, 
#contacto table th{
    border: solid 1px var(--cNegro);
    padding: 5px;
}
#contacto table caption {
    font-size: 25px;
}

#contacto form div {
    padding-bottom: 20px;
}

#contacto form div label {
    font-size: 20px;
    display: block;
}

#enviar:hover{
    background-color: var(--cTexto);
    color: var(--cBlanco);
}

/* FOOTER */

footer{
    padding: 10px 0;
    text-align: center;
    background-color: var(--cMerlin);
}

footer p {
    padding-bottom: 20px;
    font-size: 15px;
    color: var(--cBlanco);
}

footer img{
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 15px;
}

footer ul{ 
    width: 400px; 
    display: flex;
    justify-content: center;
    list-style-type: none; 
    margin: 0 auto;
}

footer ul li{
    display: inline-block;
}

footer ul li a img:hover {
    border: 2px solid var(--cTexto);
    border-radius: 50%;

}

/* Estilos para el botón de volver arriba */
#btnSubir {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;

    border: solid 1px var(--cNegro);
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.5s;
}
  
#btnSubir:hover {
    background-color: var(--cTexto);
}