/* VARIABLES */
:root {
    --cMerlin: #44423E;
    --cGrayNickel: #BBBAB6;
    --cMantle: #9CA49B;
    --cSantasGray: #9C9CA4;
    --cTexto: #D1B660;
    --cBlanco: #ffff;
}

*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

header figure {
    margin-right: 30px;
}

header figure img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}


/* NAV */

nav{
    background-color: #ecd7d9;
    border-radius: 30px;
}

nav ul{ 
    margin: 0 auto; 
    list-style-type: none;
    
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    width: 170px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
	padding: 25px 0;
    font-family:'Chakra Petch', sans-serif;

}

nav ul li a:hover{
    background-color: #fff
}

/* SECTION PRINCIPAL */

#principal{
    background-image: url(img/patron.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}

#principal div {
    text-align: center;
    color: var(--cBlanco);
    padding-bottom: 80px;
}

#principal div input, #principal div a{
    display: block;
    margin: 20px auto;
}

#principal div h1{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 84px;
    color: #fff;
}

#principal div p {
    font-size: 30px;
    font-family:'Chakra Petch', sans-serif;
}

#principal div #email{
    width: 300px;
    height: 20px;
    border-radius: 40px;
    
}
input {
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
}
#principal div a{
    font-size: 25px;
    font-family:'Chakra Petch', sans-serif;
    padding: 10px;
    width: 220px;
    text-decoration: none;
    color: var(--cTexto);
    background-color: var(--cMerlin);
    border-radius: 20px;
}

#principal div a:hover {
    background-color: var(--cTexto);
    color: var(--cBlanco);
}

#principal figure img {
    width: 100%;
}

/* SECTION PRODUCTOS */

#productos{
    width: 1200px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(4,auto);
    justify-content: center;
}

#productos article{
    width: 290px;
    padding: 10px 50px;
    text-align: left;
    color:#fff;
    border: 5px solid var(--cBlanco); 
}

#productos h2, #productos p{
    width: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
#productos h2{
    font-size: 50px;
    grid-column: 1/span 3;
    grid-row: 1/span 1;
}
#productos p {
    font-size: 25px;
    grid-column: 1/span 3;
    grid-row: 2/span 1;
}

#productos article .precio{
    font-size: 20px;
    font-weight: bold;
}

#productos article:nth-of-type(1){
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

#productos article:nth-of-type(2){
    grid-column: 2/span 1;
    grid-row: 3/span 1;
}
#productos article:nth-of-type(3){
    grid-column: 3/span 1;
    grid-row: 3/span 1;
}


#productos #producto1 figure,
#productos #producto2 figure,
#productos #producto3 figure{
    width: 280px;
    height: 850px;
}

#productos article:nth-of-type(1) figure img,
#productos article:nth-of-type(2) figure img,
#productos article:nth-of-type(3) figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#producto1{
    background-color: var(--cMerlin);
}
#producto2{
    background-color:  var(--cTexto);
}
#producto3{
    background-color: var(--cMerlin);
}

#productos article h3{
    font-size: 30px;
}

#productos article h3, #productos article p {
    text-align: left;
    font-family: 'Chakra Petch', sans-serif;
}

#productos article p {
    font-size: 20px;
}

#productos a{
    
    grid-column: 1/span 3;
    grid-row: 4/span 1;
  
    display: block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    color: var(--cBlanco);
    border: 1px solid var(--cGrayNickel);
    background-color: var(--cMerlin);
    padding: 10px; 
    margin: 25px auto;
    font-size: 20px;
}

#productos a:hover{
    color: var(--cTexto);
}

/* NOTICIAS */

#noticias{
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

#not1 img, #not2 img{
    margin: 40px;

}
#not1{
    width: 600px;
    height: 350px;
    margin: 40px 0;
    float: left;
    background-color: #00f0f2;
}

#not2{
    width: 600px;
    height: 350px;
    margin: 40px 0;
    float: left;
    background-color: #ff7fbc;

}
#not1 p, #not2 p{ 
    margin: 20px 60px;
}
#not1 h2, #not2 h2{
    
    color: #fff;
    margin: 50px 100px;
  
}


#noticias h2 {
    width: 100%;
    flex-wrap: nowrap;
}

#noticias p {
    width: 100%;
    flex-wrap: nowrap;
}



footer{
    padding: 30px 0;
    text-align: center;
    background-color: #fac8cb
}

footer img{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
}

footer ul{ width: 400px; overflow: auto; list-style-type: none; margin: 0 auto;}

footer ul li{ float:left;}